<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DSN" value="Data Source=(DESCRIPTION=ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=pk-nafzal.Enpointe.com)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ORCL9i)));User Id=Pk_ocp ;Password=me;" />
  </appSettings>
</configuration>